<h2>Por Pais</h2>
<hr>



<div class="row">
    <div class="col">
       <app-pais-input 
       (onEnter)="buscar($event)"
       (onDebounce)="sugerencias($event)"
       placeholder="Buscar por Pais....."></app-pais-input>
    </div>
</div>

<ul class="list-group">
    <li 
    *ngFor="let pais of paisesSugeridos"
    class="list-group-item list group-item-action">
    <a class="link-info"
     [routerLink]="['/Pais', pais.cca2]">
     {{pais.name.common}}</a></li>
</ul>



<hr>
<div *ngIf="hayError" class="alert alert-danger mt-1 ">
    No se encontro nada con el termino {{termino}}
</div>


<div class="row" *ngIf="arrPaises.length > 0">
    <div class="col">
      
        <app-pais-tabla [arrPaises]="arrPaises"></app-pais-tabla>
    </div>
</div>