<div class="row container mt-4">

<div class="col-3">
  <!-- <h2>Busquedas</h2>
  <hr>
  <ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item ">Buscar Pais</li>
    <li
        routerLink="Region"
        routerLinkActive="active" 
        class="list-group-item " >Buscar Region</li>
    <li
        routerLink="Capital" 
        routerLinkActive="active"
        class="list-group-item " >Buscar Capital</li>
  </ul>
</div> -->

<app-sidebar></app-sidebar>
</div>
<div class="col">
  <router-outlet></router-outlet>
</div>

</div>